<style>
  .flash {
    color: red;
    font-size: 20px;
  }
</style>

<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<h2>You can update the Patent Status of the Invention here</h2>

<h4>Name of the Invention: </h4>
<h2><%= @invention.name %></p></h2>

<br>

<% if @invention.inventor %>
<h4>Name of the Inventor: </h4>
<h2><a href="/inventors/<%=@invention.inventor.slug%>"><%= @invention.inventor.name %></a></h2>
<% end %>

<br>

<h4>Description of the Invention: </h4><br>
<p><%= @invention.description %></p>

<br>

<h4>Categories of the Invention: </h4><br>
<% @invention.categories.each do |category| %>
  <ul>
    <li><%= category.name.capitalize %></li>
  </ul>
<% end %><br></br>

  <h4>Status of the Patent: </h4><br>

  <form action="/inventions/<%= @invention.slug %>" method="POST">

  <input type="radio" name="status" value="pending" checked> pending</input><br>
  <input type="radio" name="status" value="granted"> granted</input><br>
  <input type="radio" name="status" value="rejected"> rejected</input><br></br>

  <input type="submit" value="Update Patent Status"></input>

</form>
<br></br>
<p><a href="/inventions">Click here to view all Inventions</a></p>
