<style>
  .flash {
    color: red;
    font-size: 20px;
  }
</style>

<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<h3>Name of the Inventor: </h3>

<h2><%= @inventor.name %></h2>

<h3>Inventions: </h3><br>

<% @slugs.each do |slug| %>
  <div class="invention">
  <h4><a href="/inventions/<%=slug%>"><%= Invention.find_by_slug(slug).name %></a></h4>
  <p>- <%= Invention.find_by_slug(slug).description %></p>
  </div>
<% end %>

<br>

<p><a href="/inventions">Click here to view all Inventions</a></p>

<br>

<form action="/inventors/<%= @inventor.slug %>/edit" method="POST">
  <input type="submit" value="Edit Profile"></input>
</form>
<br>
<form action="/inventors/<%= @inventor.slug %>/delete" method="POST">
  <input type="submit" value="Delete Profile"></input>
</form>
<br></br>
